USE [SIGEBI_DB]
GO
ALTER TABLE [dbo].[Reporte] DROP CONSTRAINT [FK_Reporte_Usuario]
GO
ALTER TABLE [dbo].[Prestamo] DROP CONSTRAINT [FK_Prestamo_Usuario]
GO
ALTER TABLE [dbo].[Prestamo] DROP CONSTRAINT [FK_Prestamo_Libro]
GO
ALTER TABLE [dbo].[Prestamo] DROP CONSTRAINT [FK_Prestamo_Ejemplar]
GO
ALTER TABLE [dbo].[Notificacion] DROP CONSTRAINT [FK_Notificacion_Usuario]
GO
ALTER TABLE [dbo].[Ejemplar] DROP CONSTRAINT [FK_Ejemplar_Libro]
GO
ALTER TABLE [dbo].[Usuario] DROP CONSTRAINT [DF__Usuario__Activo__276EDEB3]
GO
ALTER TABLE [dbo].[Usuario] DROP CONSTRAINT [DF__Usuario__Estado__267ABA7A]
GO
ALTER TABLE [dbo].[Usuario] DROP CONSTRAINT [DF__Usuario__Role__25869641]
GO
ALTER TABLE [dbo].[Reporte] DROP CONSTRAINT [DF__Reporte__FechaGe__3E52440B]
GO
ALTER TABLE [dbo].[Prestamo] DROP CONSTRAINT [DF__Prestamo__Estado__33D4B598]
GO
ALTER TABLE [dbo].[Prestamo] DROP CONSTRAINT [DF__Prestamo__FechaP__32E0915F]
GO
ALTER TABLE [dbo].[Notificacion] DROP CONSTRAINT [DF__Notificac__Envia__3A81B327]
GO
ALTER TABLE [dbo].[Notificacion] DROP CONSTRAINT [DF__Notificac__Fecha__398D8EEE]
GO
ALTER TABLE [dbo].[Notificacion] DROP CONSTRAINT [DF__Notificaci__Tipo__38996AB5]
GO
ALTER TABLE [dbo].[Libro] DROP CONSTRAINT [DF__Libro__Estado__2B3F6F97]
GO
ALTER TABLE [dbo].[Ejemplar] DROP CONSTRAINT [DF__Ejemplar__Estado__2F10007B]
GO
/****** Object:  Index [UQ__Usuario__A9D105349026D1C9]    Script Date: 10/25/2025 11:44:19 AM ******/
ALTER TABLE [dbo].[Usuario] DROP CONSTRAINT [UQ__Usuario__A9D105349026D1C9]
GO
/****** Object:  Index [UQ__Libro__447D36EA79506790]    Script Date: 10/25/2025 11:44:19 AM ******/
ALTER TABLE [dbo].[Libro] DROP CONSTRAINT [UQ__Libro__447D36EA79506790]
GO
/****** Object:  Index [UQ__Ejemplar__F61589C8AD6C8076]    Script Date: 10/25/2025 11:44:19 AM ******/
ALTER TABLE [dbo].[Ejemplar] DROP CONSTRAINT [UQ__Ejemplar__F61589C8AD6C8076]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 10/25/2025 11:44:19 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Usuario]') AND type in (N'U'))
DROP TABLE [dbo].[Usuario]
GO
/****** Object:  Table [dbo].[Reporte]    Script Date: 10/25/2025 11:44:19 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Reporte]') AND type in (N'U'))
DROP TABLE [dbo].[Reporte]
GO
/****** Object:  Table [dbo].[Prestamo]    Script Date: 10/25/2025 11:44:19 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Prestamo]') AND type in (N'U'))
DROP TABLE [dbo].[Prestamo]
GO
/****** Object:  Table [dbo].[Notificacion]    Script Date: 10/25/2025 11:44:19 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Notificacion]') AND type in (N'U'))
DROP TABLE [dbo].[Notificacion]
GO
/****** Object:  Table [dbo].[Libro]    Script Date: 10/25/2025 11:44:19 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Libro]') AND type in (N'U'))
DROP TABLE [dbo].[Libro]
GO
/****** Object:  Table [dbo].[Ejemplar]    Script Date: 10/25/2025 11:44:19 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Ejemplar]') AND type in (N'U'))
DROP TABLE [dbo].[Ejemplar]
GO
USE [master]
GO
/****** Object:  Database [SIGEBI_DB]    Script Date: 10/25/2025 11:44:19 AM ******/
DROP DATABASE [SIGEBI_DB]
GO
/****** Object:  Database [SIGEBI_DB]    Script Date: 10/25/2025 11:44:19 AM ******/
CREATE DATABASE [SIGEBI_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SIGEBI_DB', FILENAME = N'C:\Users\fherf\SIGEBI_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SIGEBI_DB_log', FILENAME = N'C:\Users\fherf\SIGEBI_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SIGEBI_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SIGEBI_DB]
GO
/****** Object:  Table [dbo].[Ejemplar]    Script Date: 10/25/2025 11:44:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ejemplar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LibroId] [int] NOT NULL,
	[CodigoBarras] [nvarchar](50) NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[RowVersion] [timestamp] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libro]    Script Date: 10/25/2025 11:44:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libro](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](200) NOT NULL,
	[Autor] [nvarchar](150) NOT NULL,
	[Categoria] [nvarchar](100) NULL,
	[ISBN] [nvarchar](30) NOT NULL,
	[Editorial] [nvarchar](150) NULL,
	[AñoPublicacion] [int] NULL,
	[Estado] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notificacion]    Script Date: 10/25/2025 11:44:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificacion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[Tipo] [nvarchar](30) NOT NULL,
	[Mensaje] [nvarchar](500) NOT NULL,
	[FechaEnvio] [datetime] NOT NULL,
	[Enviado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prestamo]    Script Date: 10/25/2025 11:44:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestamo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[EjemplarId] [int] NOT NULL,
	[FechaPrestamo] [datetime] NOT NULL,
	[FechaVencimiento] [datetime] NOT NULL,
	[FechaDevolucion] [datetime] NULL,
	[Penalizacion] [decimal](10, 2) NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[LibroId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reporte]    Script Date: 10/25/2025 11:44:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reporte](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NULL,
	[Tipo] [nvarchar](50) NOT NULL,
	[Contenido] [nvarchar](max) NULL,
	[FechaGeneracion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 10/25/2025 11:44:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Role] [nvarchar](20) NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ejemplar] ON 

INSERT [dbo].[Ejemplar] ([Id], [LibroId], [CodigoBarras], [Estado], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy]) VALUES (1, 2, N'EJ-0001', N'0', CAST(N'2025-10-21T21:34:53.2189408' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[Ejemplar] ([Id], [LibroId], [CodigoBarras], [Estado], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy]) VALUES (3, 2, N'EJ-0002', N'0', CAST(N'2025-10-21T22:26:26.8603804' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[Ejemplar] ([Id], [LibroId], [CodigoBarras], [Estado], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy]) VALUES (4, 2, N'EX-0002', N'0', CAST(N'2025-10-21T22:46:31.5166816' AS DateTime2), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Ejemplar] OFF
GO
SET IDENTITY_INSERT [dbo].[Libro] ON 

INSERT [dbo].[Libro] ([Id], [Titulo], [Autor], [Categoria], [ISBN], [Editorial], [AñoPublicacion], [Estado]) VALUES (2, N'Introducción a la Inteligencia Artificial', N'David Ramírez', N'Tecnología e Innovación', N'9788423456789', N'AIWorld ', 2023, N'Inactivo')
INSERT [dbo].[Libro] ([Id], [Titulo], [Autor], [Categoria], [ISBN], [Editorial], [AñoPublicacion], [Estado]) VALUES (5, N'Fundamentos de Programación en C#', N'Juan Pérez', N'Programación', N'9789993498123', N'Editorial ITLA Press', 2022, N'Disponible')
INSERT [dbo].[Libro] ([Id], [Titulo], [Autor], [Categoria], [ISBN], [Editorial], [AñoPublicacion], [Estado]) VALUES (6, N'Bases de Datos: Diseño y Modelado Relacional', N'María Rodríguez', N'Base de Datos', N'9789993487652', N'Tech Learning', 2021, N'Disponible')
SET IDENTITY_INSERT [dbo].[Libro] OFF
GO
SET IDENTITY_INSERT [dbo].[Notificacion] ON 

INSERT [dbo].[Notificacion] ([Id], [UsuarioId], [Tipo], [Mensaje], [FechaEnvio], [Enviado]) VALUES (2, 1, N'Aviso', N'Se ha registrado un nuevo préstamo de libro.', CAST(N'2025-10-22T15:53:30.580' AS DateTime), 1)
INSERT [dbo].[Notificacion] ([Id], [UsuarioId], [Tipo], [Mensaje], [FechaEnvio], [Enviado]) VALUES (3, 3, N'Préstamo', N'Tu préstamo del libro ''Programación en C# para principiantes'' ha sido registrado exitosamente.', CAST(N'2025-10-23T13:27:40.183' AS DateTime), 1)
INSERT [dbo].[Notificacion] ([Id], [UsuarioId], [Tipo], [Mensaje], [FechaEnvio], [Enviado]) VALUES (4, 3, N'Recordatorio', N'Tu préstamo está pendiente de devolución.', CAST(N'2025-10-23T18:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Notificacion] OFF
GO
SET IDENTITY_INSERT [dbo].[Prestamo] ON 

INSERT [dbo].[Prestamo] ([Id], [UsuarioId], [EjemplarId], [FechaPrestamo], [FechaVencimiento], [FechaDevolucion], [Penalizacion], [Estado], [LibroId]) VALUES (3, 1, 9, CAST(N'2025-10-21T23:55:14.200' AS DateTime), CAST(N'2025-10-23T18:02:54.330' AS DateTime), CAST(N'2025-10-28T18:02:37.000' AS DateTime), NULL, N'Activo', 6)
INSERT [dbo].[Prestamo] ([Id], [UsuarioId], [EjemplarId], [FechaPrestamo], [FechaVencimiento], [FechaDevolucion], [Penalizacion], [Estado], [LibroId]) VALUES (4, 3, 13, CAST(N'2025-10-23T13:01:00.747' AS DateTime), CAST(N'2025-10-23T18:02:54.330' AS DateTime), CAST(N'2025-10-23T13:05:45.063' AS DateTime), CAST(0.00 AS Decimal(10, 2)), N'Activo', 8)
INSERT [dbo].[Prestamo] ([Id], [UsuarioId], [EjemplarId], [FechaPrestamo], [FechaVencimiento], [FechaDevolucion], [Penalizacion], [Estado], [LibroId]) VALUES (5, 4, 15, CAST(N'2025-10-23T14:18:03.767' AS DateTime), CAST(N'2025-10-23T18:16:42.060' AS DateTime), CAST(N'2025-10-28T18:02:37.000' AS DateTime), CAST(4.00 AS Decimal(10, 2)), N'Activo', 10)
SET IDENTITY_INSERT [dbo].[Prestamo] OFF
GO
SET IDENTITY_INSERT [dbo].[Reporte] ON 

INSERT [dbo].[Reporte] ([Id], [UsuarioId], [Tipo], [Contenido], [FechaGeneracion]) VALUES (1, NULL, N'Penalizaciones', N'Penalizaciones registradas entre 10/1/2025 y 10/31/2025: 1

[Actualizado el 23/10/2025 17:07] string

✅ Este reporte fue marcado como resuelto.', CAST(N'2025-10-23T15:02:00.673' AS DateTime))
INSERT [dbo].[Reporte] ([Id], [UsuarioId], [Tipo], [Contenido], [FechaGeneracion]) VALUES (3, 4, N'Penalizaciones', N'Penalizaciones registradas entre 10/1/2025 y 10/23/2025: 0', CAST(N'2025-10-23T15:32:16.513' AS DateTime))
INSERT [dbo].[Reporte] ([Id], [UsuarioId], [Tipo], [Contenido], [FechaGeneracion]) VALUES (4, 1, N'Libros más prestados', N'📚 REPORTE DE LIBROS MÁS PRESTADOS
Periodo: 23/10/2025 - 28/10/2025
------------------------------------------
1. Cálculo Diferencial e Integral — 1 préstamos
', CAST(N'2025-10-24T00:39:48.530' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reporte] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id], [Nombre], [Apellido], [Email], [PasswordHash], [PhoneNumber], [Role], [Estado], [Activo]) VALUES (1, N'Sebastian', N'Mirabal', N'sebastian.reyes@itla.edu.do', N'12345', N'8095551234', N'Docente', N'Inactivo', 1)
INSERT [dbo].[Usuario] ([Id], [Nombre], [Apellido], [Email], [PasswordHash], [PhoneNumber], [Role], [Estado], [Activo]) VALUES (2, N'Carlos', N'Reyes', N'carlos.reyes@itla.edu.do', N'Admin2025', N'8095551222', N'Docente', N'Inactivo', 1)
INSERT [dbo].[Usuario] ([Id], [Nombre], [Apellido], [Email], [PasswordHash], [PhoneNumber], [Role], [Estado], [Activo]) VALUES (3, N'María', N'Gómez', N'maria.gomez@itla.edu.do', N'Est12345', N'8095553344', N'Estudiante', N'Activo', 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Ejemplar__F61589C8AD6C8076]    Script Date: 10/25/2025 11:44:19 AM ******/
ALTER TABLE [dbo].[Ejemplar] ADD UNIQUE NONCLUSTERED 
(
	[CodigoBarras] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Libro__447D36EA79506790]    Script Date: 10/25/2025 11:44:19 AM ******/
ALTER TABLE [dbo].[Libro] ADD UNIQUE NONCLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__A9D105349026D1C9]    Script Date: 10/25/2025 11:44:19 AM ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ejemplar] ADD  DEFAULT ('Disponible') FOR [Estado]
GO
ALTER TABLE [dbo].[Libro] ADD  DEFAULT ('Disponible') FOR [Estado]
GO
ALTER TABLE [dbo].[Notificacion] ADD  DEFAULT ('Aviso') FOR [Tipo]
GO
ALTER TABLE [dbo].[Notificacion] ADD  DEFAULT (getdate()) FOR [FechaEnvio]
GO
ALTER TABLE [dbo].[Notificacion] ADD  DEFAULT ((0)) FOR [Enviado]
GO
ALTER TABLE [dbo].[Prestamo] ADD  DEFAULT (getdate()) FOR [FechaPrestamo]
GO
ALTER TABLE [dbo].[Prestamo] ADD  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [dbo].[Reporte] ADD  DEFAULT (getdate()) FOR [FechaGeneracion]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ('Estudiante') FOR [Role]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Ejemplar]  WITH CHECK ADD  CONSTRAINT [FK_Ejemplar_Libro] FOREIGN KEY([LibroId])
REFERENCES [dbo].[Libro] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ejemplar] CHECK CONSTRAINT [FK_Ejemplar_Libro]
GO
ALTER TABLE [dbo].[Notificacion]  WITH CHECK ADD  CONSTRAINT [FK_Notificacion_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notificacion] CHECK CONSTRAINT [FK_Notificacion_Usuario]
GO
ALTER TABLE [dbo].[Prestamo]  WITH CHECK ADD  CONSTRAINT [FK_Prestamo_Ejemplar] FOREIGN KEY([EjemplarId])
REFERENCES [dbo].[Ejemplar] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Prestamo] CHECK CONSTRAINT [FK_Prestamo_Ejemplar]
GO
ALTER TABLE [dbo].[Prestamo]  WITH CHECK ADD  CONSTRAINT [FK_Prestamo_Libro] FOREIGN KEY([LibroId])
REFERENCES [dbo].[Libro] ([Id])
GO
ALTER TABLE [dbo].[Prestamo] CHECK CONSTRAINT [FK_Prestamo_Libro]
GO
ALTER TABLE [dbo].[Prestamo]  WITH CHECK ADD  CONSTRAINT [FK_Prestamo_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Prestamo] CHECK CONSTRAINT [FK_Prestamo_Usuario]
GO
ALTER TABLE [dbo].[Reporte]  WITH CHECK ADD  CONSTRAINT [FK_Reporte_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Reporte] CHECK CONSTRAINT [FK_Reporte_Usuario]
GO
USE [master]
GO
